<body>


{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<h1>Bienvenue sur le site du laser game {{ app.user.username }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('admin_management')}}">Accéder à l'interface de management</a>
        <br>
    {% endif %}

    <a href="{{path('security_logout')}}">Se déconnecter</a>
<hr>

{% else %}

    <a href="{{path('security_login')}}">
        Veuillez vous connecter
    </a>
    ou
    <a href="{{path('user_register')}}">Vous inscrire</a>
{%  endif %}


</body>