<body>


{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<h1>Bienvenue sur le site du laser game</h1>


<h2>{{ app.user.name }}</h2>
<h2>{{ app.user.adress }}</h2>
<h2>{{ app.user.phone }}</h2>


<hr>

{% else %}

    <a href="{{path('security_login')}}">
        Veuillez vous connecter
    </a>
    ou
    <a href="{{path('user_register')}}">Vous inscrire</a>
{%  endif %}


</body>